@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

@font-face {
    font-family: caviar-dreams;
    src: url(CaviarDreams.ttf) format("truetype");
}

@font-face {
    font-family: fashion-fetish;
    src: url(Fashion\ Fetish\ Regular.ttf) format("truetype");
}

body {

    margin: 0;
    background: #303030;
    height: auto;
}

.image img {
    width: 225.52px;
    height: 57px;
}

.left-side img {
    width: 170px;
    height: 175px
}

.item-header h1 {
    color: white;
    font-size: 13.5px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    word-wrap: break-word
}


.header p {
    color: white;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-family: caviar-dreams, B Nazanin, Tahoma !important;
}

.item-details p {
    color: white;
    font-size: 10.49px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word
}

.item-price p {
    color: #50AB08;
    font-size: 13.64px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 18.48px;
    word-wrap: break-word
}
/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */


















@media only screen and (max-width: 400px) {
    body {
        /* background: blue; */

    }

    .landing {
        /* padding-left: 10px; */


    }

    .header {
        background: linear-gradient(180deg, rgba(61, 61, 61, 0.1) 0%, rgba(61, 61, 61, 0.4) 100%);
        padding-top: 10px;

    }

    .header .image {
        display: flex;
        justify-content: space-around;
        /* flex-direction: column; */
    }

    .header .header-subtext {
        margin-top: -10px;
        display: flex;
        justify-content: space-around;
        /* flex-direction: column; */
    }

    .middle-part {
        padding-left: 10px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card-details {
        display: flex;
        justify-content: space-between;
        gap: 5px;

    }

    .right-side {
        margin-left: 8px;
        margin-right: 8px;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
    }

    .footer {
        background: rgba(0, 0, 0, 1);
        color: rgba(255, 255, 255, 1);
        height: 60px;
        /* display: flex;
        justify-content: space-around; */
        align-items: center;
        flex-direction: column;
    }

    footer .footer-header {
        display: flex;
        justify-content: space-around;
    }

    footer .footer-year {
        margin-top: -15px;
        display: flex;
        justify-content: space-around;
    }

    .footer h1 {
        font-weight: 400;
        font-size: 13px;
        font-family: fashion-fetish, B Nazanin, Tahoma !important;
        letter-spacing: 6.15px;
        word-wrap: break-word
    }

    .footer p {
        color: white;
        font-size: 8px;
        font-family: fashion-fetish;
        font-weight: 400;
        letter-spacing: 6.15px;
        word-wrap: break-word
    }

    /* .footer span{
        display: flex;
    } */
    /* .item-details{
        margin-top: 0px;
    }
    .item-header{
        margin-top: 15px;
    }
    .item-price{
        margin-top: 0px;
    } */

}